html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#calendar iframe{
  border-radius: 5px;
}

#newsButton {
  border-radius: 25px;
}

#calendarButton {
  border-radius: 30px;
}

#spotify iframe{
  border-radius: 10px;
}

#weather a{
  border-radius: 15px;
}

#bath{
  position: absolute;
  left: -70px;
  top: -30px;
  z-index: -1;
  width: 1000px;
  height: 1000px;
}